<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="<%= BASE_URL %>">
    <link type="image/png" sizes="16x16" rel="icon" href="./favicon_16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="./favicon_32.png">
    <meta property="og:image" content="<%= BASE_URL %>/og.png" />
    <meta property="og:title" content="Destiny 2 - Season <%= VUE_APP_SEASON_NUMBER %> Predictions" />
    <meta property="og:description" content="Cast your votes! Every correct guess earns you 10 points. Every wrong guess makes you lose 5. Good luck!" />
    <meta name="description" content="Cast your votes! Every correct guess earns you 10 points. Every wrong guess makes you lose 5. Good luck!" />
    <meta name="keywords" content="Destiny, Season <%= VUE_APP_SEASON_NUMBER %>, Prediction, Wasted on Destiny, Time, Time Played, Calus, Eris, Zavala, Traveler, Eramis, Siva">
    <meta name="author" content="Alabastro & Binarmorker">
    <title>Destiny 2 - Season <%= VUE_APP_SEASON_NUMBER %> Predictions</title>
</head>
<body>
    <div id="app"></div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V53LWNCZYK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-V53LWNCZYK');
    </script>
</body>
</html>