<template>
  <div class="leaderboard">
    <div class="title">
      <img class="radial" src="@/assets/Radial.png" />
      <img class="logo" src="@/assets/Question mark.png" />
      <img class="cursive" src="@/assets/Predictions.svg" />
      <h1>LEADERBOARD</h1>
    </div>

    <div class="search">
      <input type="search" placeholder="Bungie name" />
      <button type="submit">SEARCH</button>
    </div>

    <div class="list">
      <div class="list-item gold">
        <span class="position">01</span>
        <div class="center">
          <span class="name">Binarmorker</span>
          <div class="inner">
            <span class="score">S 19 Score: <small>150</small></span>
            <span class="score">Overall accuracy: <small>100%</small></span>
          </div>
        </div>
        <img class="medal" src="@/assets/Gold.png" />
      </div>
      <div class="list-item silver">
        <span class="position">02</span>
        <div class="center">
          <span class="name">Binarmorker</span>
          <div class="inner">
            <span class="score">S 19 Score: <small>150</small></span>
            <span class="score">Overall accuracy: <small>100%</small></span>
          </div>
        </div>
        <img class="medal" src="@/assets/Silver.png" />
      </div>
      <div class="list-item bronze">
        <span class="position">03</span>
        <div class="center">
          <span class="name">Binarmorker</span>
          <div class="inner">
            <span class="score">S 19 Score: <small>150</small></span>
            <span class="score">Overall accuracy: <small>100%</small></span>
          </div>
        </div>
        <img class="medal" src="@/assets/Bronze.png" />
      </div>
      <div class="list-item">
        <span class="position">04</span>
        <div class="center">
          <span class="name">Binarmorker</span>
          <div class="inner">
            <span class="score">S 19 Score: <small>150</small></span>
            <span class="score">Overall accuracy: <small>100%</small></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      data: []
    }
  },
  async mounted () {
    // Get data
  }
}
</script>

<style scoped>
  .leaderboard {
    position: relative;
    background: linear-gradient(0deg, var(--background) 0%, rgba(0,0,0,0) 100%),
                url('~@/assets/Cover_Art2.png') top center no-repeat;
    background-size: cover;
    padding-bottom: 40px;
  }

  .leaderboard .title {
    position: relative;
    top: 270px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    pointer-events: none;
  }

  .leaderboard .title h1 {
    font-size: 40px;
    font-family: 'Neue Haas Grotesk Black';
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    top: 28px;
  }

  .leaderboard .title > img {
    position: absolute;
    top: -290px;
  }

  .leaderboard .title > img.radial {
    height: 576px;
  }

  .leaderboard .title > img.logo {
    top: -88px;
    height: 164px;
  }

  .leaderboard .title > img.cursive {
    top: -82px;
    height: 136px;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search input {
    border: 1px solid #ffffff;
    background: #141414;
    border-radius: 80px;
    height: 62px;
    width: 502px;
    padding: 12px 0px 12px 24px;
    font-size: 24px;
  }

  .search button {
    border: none;
    background: #ffffff;
    border-radius: 80px;
    width: 130px;
    height: 62px;
    padding: 12px;
    font-size: 24px;
    font-family: 'Neue Haas Grotesk Black';
    font-weight: bold;
    margin-left: -130px;
    cursor: pointer;
    position: relative;
  }

  .search button:hover:before {
    content: 'SEARCH';
    position: absolute;
    top: -1pt;
    bottom: -1pt;
    left: -1pt;
    right: -1pt;
    line-height: 65px;
    background: #141414;
    color: #ffffff;
    border-radius: 80px;
  }

  .search button:hover:after {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 80px;
  }

  .list {
    width: 876px;
    margin: 80px auto 0;
    box-sizing: border-box;
  }

  .list-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    width: 876px;
    height: 150px;
    background: #141414;
    border: 2px solid #4b4b4b;
    border-radius: 12px;
    gap: 24px;
    margin-bottom: 12px;
  }

  .list-item.gold {
    border-color: #ddc55b;
  }

  .list-item.silver {
    border-color: #dbdbdb;
  }

  .list-item.bronze {
    border-color: #d07b5a;
  }

  .list-item .position {
    width: 45px;
    height: 100%;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Neue Haas Grotesk Black';
    font-weight: bold;
  }

  .list-item .center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .list-item .name {
    font-size: 32px;
    line-height: 37px;
  }

  .list-item .inner {
    margin-top: 12px;
    padding-top: 8px;
    border-top: 1px solid #ffffff;
    height: 38px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .list-item .score {
    height: 38px;
    font-size: 24px;
    line-height: 38px;
    min-width: 230px;
  }

  .list-item .score > small {
    font-size: 32px;
    font-family: 'Neue Haas Grotesk Black';
    font-weight: bold;
  }

  .list-item .medal {
    width: 115px;
  }

  @media screen and (max-width: 1150px) {
    .list {
      width: 100%;
      padding: 0 24px;
    }

    .list-item {
      width: 100%;
    }
  }

  @media screen and (max-width: 900px) {
    .list-item {
      height: auto;
    }

    .list-item .inner {
      flex-direction: column;
      height: auto;
    }
  }

  @media screen and (max-width: 700px) {
    .leaderboard .title {
      height: 320px;
    }

    .leaderboard .title h1 {
      font-size: 24px;
      top: -68px;
    }

    .leaderboard .title > img {
      top: -290px;
    }

    .leaderboard .title > img.radial {
      height: 376px;
    }

    .leaderboard .title > img.logo {
      top: -158px;
      height: 124px;
    }

    .leaderboard .title > img.cursive {
      top: -152px;
      height: 106px;
    }

    .list {
      margin-top: 48px;
    }

    .list-item .position {
      font-size: 24px;
    }

    .list-item .name {
      font-size: 24px;
      line-height: 31px;
    }

    .list-item .score {
      height: 32px;
      font-size: 18px;
      line-height: 32px;
      min-width: unset;
    }

    .list-item .score > small {
      font-size: 24px;
    }

    .list-item .medal {
      width: 95px;
    }
  }

  @media screen and (max-width: 550px) {
    .leaderboard .title {
      height: 280px;
    }

    .leaderboard .title h1 {
      font-size: 20px;
      top: -118px;
    }

    .leaderboard .title > img {
      top: -300px;
    }

    .leaderboard .title > img.radial {
      height: 326px;
    }

    .leaderboard .title > img.logo {
      top: -188px;
      height: 104px;
    }

    .leaderboard .title > img.cursive {
      top: -172px;
      height: 66px;
    }

    .search {
      padding: 0 24px;
    }

    .search input {
      width: 100%;
    }

    .search button {
      width: 62px;
      margin-left: -62px;
      color: transparent;
      font-size: 0;
    }

    .search button:after {
      content: '🔎';
      font-size: 32px;
      line-height: 32px;
      position: absolute;
      color: #141414;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .search button:hover:before {
      content: '🔎';
      font-size: 32px;
      line-height: 32px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .list {
      margin-top: 24px;
    }

    .list-item {
      padding: 6px 12px;
      gap: 6px;
      height: 100px;
    }

    .list-item .position {
      font-size: 20px;
    }

    .list-item .name {
      font-size: 20px;
      line-height: 24px;
    }

    .list-item .inner {
      margin-top: 6px;
      padding-top: 0;
    }

    .list-item .score {
      height: 22px;
      font-size: 14px;
      line-height: 24px;
      min-width: 120px;
    }

    .list-item .score > small {
      font-size: 16px;
    }

    .list-item .medal {
      width: 65px;
    }
  }

  @media screen and (max-width: 450px) {
    .list-item .medal {
      display: none;
    }
  }
</style>
